<li>
  <div class="topics-item">
    <div class="card">
      <a href="/topics/<%= topic._id %>">
        <div class="card-header">
          <img src="<% if (topic && topic.author && topic.author.avatar) { -%>/upload/<%= topic.author.avatar %><% } else { -%>/images/moren.png<% } -%>" class="avatar">
          <span><%= topic.author.name %></span>
        </div>
        <div class="topics-title">
          <%= topic.title %>
        </div>
        <div class="card-content">
          <div class="card-content-inner">
            <%- topic.content %>
          </div>
        </div>
        <div class="card-footer">
          <% if (topic.pv) { -%>
            <span><%= topic.pv %>&nbsp;浏览</span>
          <% } -%>
          <% if (topic.ups.length) { -%>
            <span><%= topic.ups.length %>&nbsp;赞</span>
          <% } -%>
          <span><%= topic.createAgo %></span>
        </div>
      </a>
      <!-- since topic.author._id's type is object, we should convert it to string then compare them -->
      <% if (page === 'topics' || page === 'my-topics') { -%>
        <% if (user && String(user._id) === String(topic.author._id)) { -%>
          <div class="buttons-row topics-buttons">
            <button data-id="<%= topic._id %>" class="button color-blue ripple-pink J_btn">删除</button>
            <a href="/ask/<%= topic._id %>/edit" class="button color-blue ripple-bule">编辑</a>
          </div>
        <% } -%>
      <% } -%>
    </div>
  </div>
</li>