<%- include('header') %>
<%- include('components/navbar', { config: { title: '我的收藏' }}) %>
<div data-page="my-collects" class="page">
  <div class="page-content">
    <%- include('components/notification') %>
    <div class="list-block">
      <ul>
        <% topics.forEach(topic => { %>
          <%- include('components/list-item', { topic, page: 'my-collects' }) %>
        <% }) %>
      </ul>
    </div>
  </div>
</div>
<%- include('footer') %>
</body>
</html>
