<%- include('header') %>
<%- include('components/navbar', { config: { title: '详情' } }) %>
<div data-page="topic" class="page">
  <div class="page-content">
    <div class="content-block topic-title"><%= topic.title %></div>
    <div class="card topic-item">
      <div class="card-header">
        <img src="/upload/<%= topic.author.avatar %>" class="avatar">
        <span><%= topic.author.name %></span>
      </div>
      <div class="card-content">
        <div class="card-content-inner">
          <%- topic.content %>
        </div>
      </div>
      <div class="card-footer">
        发布于&nbsp;&nbsp;<span><%= topic.formatDate %></span>
      </div>
    </div>
  </div>
  <div class="toolbar toolbar-bottom topic-toolbar">
    <div class="toolbar-inner">
      <div class="ups" id="J_ups">
        <div class="chip">
          <div class="chip-media">
            <i class="icon material-icons">👍</i>
          </div>
          <button class="chip-label" id="J_upsCount"><%= upsCount %></button>
        </div>
      </div>
      <div class="collect" id="J_collect">
        <div><i class="icon material-icons" id="J_collectIcon"><% if (isCollected) { -%> star <% } else { -%> star_border <% } -%></i>
        </div>
        <button id="J_collectText"><% if (isCollected) { -%> 已收藏 <% } else { -%> 收藏 <% } -%></button>
      </div>
      <a href="/topics/<%= topic._id %>/comments">
        <div><i class="icon material-icons">mode_comment</i></div>
        <span><% if (commentsCount) { -%> <%= commentsCount %> <% } else { -%> 评论 <% } -%></span>
      </a>
    </div>
  </div>
</div>
<%- include('footer') %>
<script>
;(function(){
    var collectText = $('#J_collectText')
    var collectIcon = $('#J_collectIcon')
    $(document).on('click', '#J_collect', function(){
      $.post('/topics/<%= topic._id %>/collect', {}, function(res){
        res = JSON.parse(res)
        if(res.err_no == 0){
          if(res.data.isCollected){
            collectText.text('已收藏')
            collectIcon.text('star')
          }else{
            collectText.text('收藏')
            collectIcon.text('star_border')
          }
        }
      })
    })
})()

;(function(){
  var upsCount = $('#J_upsCount')
  $(document).on('click', '#J_ups', function(){
    $.post('/topics/<%= topic._id %>/ups', {}, function(res){
      res = JSON.parse(res)
      if(res.err_no == 0){
        upsCount.text(res.data.upsCount)
      }
    })
  })
})()
</script>
</body>
</html>