<%- include('header') %>
<%- include('components/navbar', { config: { title: '个人设置' } }) %>
<div data-page="user" class="page">
  <div class="page-content">
    <!-- use node-formidable to handle file upload requires the enctype attribute of form must be multipart/form-data -->
    <form class="list-block user-list-block" method="post" enctype="multipart/form-data">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-input user-item-file">
                <input id="J_upload" type="file" name="avatar">
                <span <% if (user.avatar) { -%> style="background-image: url(/upload/<%= user.avatar %>)"
                <% } -%> id="J_uploadVirtual" class="avatar-default"></span>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media">
              <i class="icon material-icons">person_outline</i>
            </div>
            <div class="item-inner">
              <div class="item-title floating-label">用户名</div>
              <div class="item-input">
                <input readonly type="text" name="name" value="<%= user.name %>">
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media">
              <i class="icon material-icons">people_outline</i>
            </div>
            <div class="item-inner">
              <div class="item-content radio-content">
                <label class="label-radio item-content">
                  <input type="radio" name="gender" value="M" <% if (user.gender === 'M') { -%>checked="checked"<% } -%>>
                  <div class="item-media">
                    <i class="icon icon-form-radio"></i>
                  </div>
                  <div class="item-inner radio-text">
                    <div class="item-title">男</div>
                  </div>
                </label>
                <label class="label-radio item-content">
                  <input type="radio" name="gender" value="F" <% if (user.gender === 'F') { -%>checked="checked"<% } -%>>
                  <div class="item-media">
                    <i class="icon icon-form-radio"></i>
                  </div>
                  <div class="item-inner radio-text">
                    <div class="item-title">女</div>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media">
              <i class="icon material-icons">assignment_ind</i>
            </div>
            <div class="item-inner">
              <div class="item-title floating-label">职位</div>
              <div class="item-input">
                <input type="text" name="position" value="<%= user.position %>">
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media">
              <i class="icon material-icons">account_balance</i>
            </div>
            <div class="item-inner">
              <div class="item-title floating-label">公司</div>
              <div class="item-input">
                <input type="text" name="company" value="<%= user.company %>">
              </div>
            </div>
          </div>
        </li>
        <li class="align-top">
          <div class="item-content">
            <div class="item-media">
              <i class="icon material-icons">chat_bubble_outline</i>
            </div>
            <div class="item-inner">
              <div class="item-title floating-label">个人简介</div>
              <div class="item-input">
                <textarea name="profile" class="resizable"><%= user.profile %></textarea>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="content-block">
        <input type="submit" class="button button-fill" value="保存">
      </div>
    </form>
  </div>
</div>
<%- include('footer') %>